boto==2.48.0
commandr==1.5.0
Flask-RESTful==0.3.6
gevent==1.3.4
Jinja2==2.10
kazoo==2.5.0
librato-metrics==3.1.0
psutil==5.4.6
python-dateutil==2.7.3
raven==6.9.0
requests==2.19.1
prometheus-client==0.3.0
pympler==0.5